li{
  display: inline-block;
  padding-right: 15px;
  font-family:'Gaegu';
  font-size: 25px;
  font-weight:400;
}

h1{
  font-family: 'Eagle Lake', cursive;
  color: #272e4f; 
}
p{
  font-family: 'Space Mono', monospace;
  color: #272e4f; 
}
ul{
  text-decoration: none;
  list-style: none;
  color: #272e4f; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: white;
  background-image: url(./images/marble.jpg);
}

footer{
  font-size: 18px;
  font-family: 'Gaegu', cursive;
  font-weight: bold;
}
footer a{
  text-decoration: none;
  color:#272e4f; 
}
footer a:hover{
  color:#c70039; 
}
section{
  padding:20px;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: 10px 10px 20px rgba(57, 56, 56, 0.2);
  margin: 10px 0;
  background-image: url(./images/paper.jpg);
}
input{
  width: 100%;
  padding:5px 4px;
  border: 1px solid black;
  border-radius: 4px;
  color:#c70039; 
  text-align: center;
}
h2{
  font-family: 'Homemade Apple', cursive;
  font-size: 36px;
  background: url(./images/school.jpg);
  padding: 20px 10px;
  margin: 10 auto;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 10px 10px 20px rgba(57, 56, 56, 0.2);
  color: #c70039 ;
  text-transform: capitalize; 
  text-align: center;
  display: inline-block;
} h3{
  font-family: 'Homemade Apple', cursive;
  color: #272e4f; ;
}
a{
  text-decoration: none;
  color:#272e4f; 
}
a:hover{
  color:#c70039;
}
.card{
  background:white;
  background-image: url(./images/marble.jpg);
}
.Phonetics{
 font-size: 25px;
}
.Phonetics a{
  border-radius: 20px;
  padding: 5px 13px;
  text-decoration: none;
  border: 1px solid #ddd;
  background-color: #EFEFEF;
  margin: 0 auto;
  font-size: 22px;
}
.Phonetics a:hover{
  background-color: aliceblue;
  transition: all 150ms ease-in-out;
  font-size: 25px;
}
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #272e4f; 
  padding: 30px 30px;
}

.App-link {
  color: #61dafb;
}

.card{
  padding-top: 10px;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid black;
  margin-bottom: 10px;
  max-width: 1000px;
  box-shadow: 10px 10px 20px rgba(57, 56, 56, 0.2);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Photos img{
  border-radius: 4px;
  margin-bottom: 15px;
  border: 5px solid white;
}
.magn{
  border-radius: 50px;
  box-shadow: 10px 10px 20px rgba(57, 56, 56, 0.2);
}
.type{
  box-shadow: 10px 10px 20px rgba(57, 56, 56, 0.2);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}